input, textarea {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
}

.login {
    position: absolute;
    top: 20px;
    width: 100%;
}

.login__form {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

.login__form--input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 12px;
    margin-top: 12px;
    height: 100%;
}

.forgot {
    color: #aab8c2;
}

.text-input {
    padding: 12px;
    width: 210px;
}

.text-input:focus {
    outline:0;
    color: #14171a;
    border-color: rgba(0,132,180,0.5);
}

.EdgeButton {
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position:relative;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

.EdgeButton--primary {
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: white;
}

.EdgeButton--primary:hover {
    background-color: #006dbf;
    border-color: #006dbf;
    color: white;
}

.EdgeButton--signup {
    margin-bottom: 16px;
    height: 100%;
}

.EdgeButton--secondary {
    background-color: white;
    border: 1px solid #1da1f2;
    color: #1da1f2;
    height: 100%;
}

.EdgeButton--secondary:hover {
    background-color: #eaf5fd;
    color: #1da1f2;
}

.submit {
    padding: 12px;
}