body {
    position: relative;
    margin: 0;
    padding: 0;
}

div {
    display:block;
}

.row {
    display: flex;
    flex-direction:row;
}

.column {
    flex: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

/* Right Column */
.block__utility {
    max-width: 350px;
}

.signupHeader {
    -moz-box-align: center;
    -ms-flex-aign: center;
    align-items: center;

    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin: 16px auto;
}

/* Left Column */

.column__communication {
    background: #1da1f2;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.block--centered {
    max-width: 440px;
    position: relative;
    max-width: 440px;
    padding: 0 16px;
    position: relative;
}

.feature__list {
    margin-left:0;
    padding:0;
}

.feature__item{
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom:32px;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .row {
        flex-direction:column;
    }
    .column {
        flex: 100%;
    }
}