body {
    position: relative;
    margin: 0;
    padding: 0;
}

div {
    display:block;
}

.row {
    display: flex;
    flex-direction:row;
}

.column {
    flex: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.feature-list {
    margin-left:0;
    padding:0;
}

/* Right Column */
/* .utilityBlock {

} */

/* Left Column */

.communicationBlock {
    background: #1da1f2;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.centeredBlock {
    max-width: 440px;
    position: relative;
    max-width: 440px;
    padding: 0 16px;
    position: relative;
}

.feature-item{
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom:32px;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .row {
        flex-direction:column;
    }
    .column {
        flex: 100%;
    }
}