html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height:100%;
}

#main {
    height:100%;
    flex:1;
}

div {
    display:block;
}

ul {
    padding: 0;
    margin: 0;
}
.row {
    display: flex;
    flex-direction:row-reverse;
    height:100%;
}

.column {
    flex: 50%;
    align-items: center;
    display: flex;
    flex:1;
    justify-content: center;
}

.column__communication {
    background: #1da1f2;
    color: #fff;
    overflow: hidden;
    position: relative;
}

/* .column__utility {
    flex:1;
} */

.block__communication {
    max-width: 450px;
}

.block__utility {
    max-width: 350px;
}

/* Right Column */
.signup__header {
    -moz-box-align: center;
    -ms-flex-aign: center;
    align-items: center;

    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin: 16px auto;
}

.signup__subtitle {
    margin-top: 48px;
}

/* Left Column */
.block--centered {
    position: relative;
    padding: 0 16px;
}

.feature__list {
    margin-left:0;
    padding:0;
}

.feature__item{
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom:32px;
}

/* Footer Items */
.footer {
    width: 100%;
    bottom: 0;

    border-top: 1px solid #e6ecf0;
    padding: 11px 0;
    background-color: #fff;
    /* bottom: -10%; */
    width: 100%;
    z-index: 2;
}

.footer--fixed {
    position: fixed;
}

.footer__list {
    background: #fff;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    width: auto;
    margin:0;
    text-align: center;
    justify-content: center;
}

.footer__item {
    display: inline-block;
    padding: 0 9px;

    /* TODO: move to typography.css */
    color: #aab8c2;
    font-size: 12px;
    margin: 0;
    
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .row {
        flex-direction:column;
    }
    .column {
        flex: 100%;
    }
}