/* Fonts */
@font-face {
    font-family: 'edge-icons';
    src: url('./fonts/edge-icons-Regular.ttf') format('truetype');
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    position: relative;
    height:100vh;
    margin: -10px;
    padding: 0;
}

div {
    display:block;
}

.row {
    display: flex;
    flex-direction:row;
}
.column {
    flex: 50%;
    align-items: center;
    display: flex;
    /* flex:1; */
    justify-content: center;
    height: 100vh;
}

.communicationBlock {
    background: #1da1f2;
    color: #fff;
    overflow:hidden;
    position: relative;

    
}
.utilityBlock {

}

.centeredBlock {
    max-width: 440px;
    padding: 0 16px;
    position: relative;
    margin: 0 auto;
}

.feature-textblock-inline {
    display: inline-block;
}

.feature-text-title {
    font-size: 18px;
    font-weight:bold;
    line-height: 24px;
}

.feature-text-content {
    font-size: 14px;
    line-height: 20px;
}

/* Icons */
.icon--discover:before {
    content: "\f052";
}

.icon--bookmarks:before {
    content: "\f155";
}

.icon--personalize:before {
    content: "\f159";
}

.icon {
    font-size: 35px;
    margin-right: 16px;
    margin-top: 8px;

    background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    position: relative;
}

.icon:after, .icon:before {
    display:block;
    font-family: "edge-icons";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .row {
        flex-direction:column;
    }
    .column {
        flex: 100%;
    }
}


